footer{
    border-top: rgb(1, 2, 2);
    background-color: #EBEBEB;
    
}

.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-container a{
    margin-top: 10vh;
    margin-bottom: 1vh;
    color: blanchedalmond;
    margin-right: 20px;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para p{
    margin-bottom: 50px;
    font-weight: bold;
    color: #EBEBEB;
    font-size: 20px;
}